<a href="https://colab.research.google.com/github/vidhikhatwani/Game-Prediction-Reddit-Dataset/blob/main/Game_Prediction_Reddit_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import numpy as np
import pandas as pd

In [80]:
aus_loss = pd.read_csv("/content/IndvsAus_loss.csv", sep='|')
pak_loss = pd.read_csv("/content/IndvsPak_loss.csv", sep ='|')
pak_win = pd.read_csv("/content/IndvsPak_win.csv", sep = '|')

In [81]:
aus_loss.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body
0,0,Cricket,xj7jtr,ip7c3rj,Bada_Vadapao,151,1.663687e+09,Pandu should score 71 and give a tribute to Ko...
1,1,Cricket,xj7jtr,ip6t6sk,KuttahaiTum,103,1.663679e+09,Winning the toss against mighty Finch is not h...
2,2,Cricket,xj7jtr,ip6ttwo,Adept-Variety1761,100,1.663679e+09,Rohit has aged 10 years more after becoming ca...
3,3,Cricket,xj7jtr,ip6v3ux,Signal_Discipline_36,78,1.663680e+09,No disrespect to Umesh bhau ( bro) but he is n...
4,4,Cricket,xj7jtr,ip6x6x9,crazycricfan,78,1.663681e+09,Finch's first video after being a youtuber pos...

In [82]:
pak_loss.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body
0,0,Cricket,x5lyrw,in2g53t,Jerry_-,312,1.662307e+09,Can't believe we brought in Pant instead of DK...
1,1,Cricket,x5lyrw,in1yibs,vapeshapes,233,1.662300e+09,Cricket Twitter wants Babar Azam to captain li...
2,2,Cricket,x5lyrw,in25rl4,getyoutogabba,206,1.662303e+09,“Breeding them young”…the fuck was that
3,3,Cricket,x5lyrw,in2zyzu,dmcMethematics,182,1.662315e+09,Mfs inviting all asian cricket playing nations...
4,4,Cricket,x5lyrw,in1vsxl,vpsj,169,1.662298e+09,Babar: Tails!\n\nShastri: Heads is the call! \...

In [83]:
pak_win.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body
0,0,Cricket,wzuuu9,im4o0ko,iBrownPanda,281,1.661696e+09,The scorecard looks like a learning web develo...
1,1,Cricket,wzuuu9,im5egwh,alien_potatoe,191,1.661707e+09,Crazy how Kohli is 33 year old senior and KL i...
2,2,Cricket,wzuuu9,im4lauq,mit_the_enchanter,175,1.661695e+09,"Judging by the comments on this thread, this m..."
3,3,Cricket,wzuuu9,im4ttjg,thebrokeassbiker,164,1.661698e+09,Jadeja is a cheat code for over rates.
4,4,Cricket,wzuuu9,im4mp51,razdaman92,140,1.661695e+09,"""Best Asia cup since Asia cup started"". It has..."

In [84]:
aus_loss['Label'] = 0
pak_loss['Label'] = 0
pak_win['Label'] = 1

In [85]:
aus_loss.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body,Label
0,0,Cricket,xj7jtr,ip7c3rj,Bada_Vadapao,151,1.663687e+09,Pandu should score 71 and give a tribute to Ko...,0
1,1,Cricket,xj7jtr,ip6t6sk,KuttahaiTum,103,1.663679e+09,Winning the toss against mighty Finch is not h...,0
2,2,Cricket,xj7jtr,ip6ttwo,Adept-Variety1761,100,1.663679e+09,Rohit has aged 10 years more after becoming ca...,0
3,3,Cricket,xj7jtr,ip6v3ux,Signal_Discipline_36,78,1.663680e+09,No disrespect to Umesh bhau ( bro) but he is n...,0
4,4,Cricket,xj7jtr,ip6x6x9,crazycricfan,78,1.663681e+09,Finch's first video after being a youtuber pos...,0

In [86]:
pak_loss.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body,Label
0,0,Cricket,x5lyrw,in2g53t,Jerry_-,312,1.662307e+09,Can't believe we brought in Pant instead of DK...,0
1,1,Cricket,x5lyrw,in1yibs,vapeshapes,233,1.662300e+09,Cricket Twitter wants Babar Azam to captain li...,0
2,2,Cricket,x5lyrw,in25rl4,getyoutogabba,206,1.662303e+09,“Breeding them young”…the fuck was that,0
3,3,Cricket,x5lyrw,in2zyzu,dmcMethematics,182,1.662315e+09,Mfs inviting all asian cricket playing nations...,0
4,4,Cricket,x5lyrw,in1vsxl,vpsj,169,1.662298e+09,Babar: Tails!\n\nShastri: Heads is the call! \...,0

In [87]:
pak_win.head()

,Unnamed: 0,Subreddit,Post ID,Comment ID,Author,Score,Created,Body,Label
0,0,Cricket,wzuuu9,im4o0ko,iBrownPanda,281,1.661696e+09,The scorecard looks like a learning web develo...,1
1,1,Cricket,wzuuu9,im5egwh,alien_potatoe,191,1.661707e+09,Crazy how Kohli is 33 year old senior and KL i...,1
2,2,Cricket,wzuuu9,im4lauq,mit_the_enchanter,175,1.661695e+09,"Judging by the comments on this thread, this m...",1
3,3,Cricket,wzuuu9,im4ttjg,thebrokeassbiker,164,1.661698e+09,Jadeja is a cheat code for over rates.,1
4,4,Cricket,wzuuu9,im4mp51,razdaman92,140,1.661695e+09,"""Best Asia cup since Asia cup started"". It has...",1

In [88]:
aus_loss_1 = aus_loss.iloc[:, 1:]
pak_loss_1 = pak_loss.iloc[:, 1:]
pak_win_1 = pak_win.iloc[:, 1:]
len(aus_loss_1), len(pak_loss_1), len(pak_win_1)

(9932, 23537, 24933)

In [89]:
final_data = aus_loss_1
final_data = final_data.append(pak_loss_1)
final_data = final_data.append(pak_win_1)

In [90]:
len(final_data)

58402

In [91]:
final_data.head()

,Subreddit,Post ID,Comment ID,Author,Score,Created,Body,Label
0,Cricket,xj7jtr,ip7c3rj,Bada_Vadapao,151,1.663687e+09,Pandu should score 71 and give a tribute to Ko...,0
1,Cricket,xj7jtr,ip6t6sk,KuttahaiTum,103,1.663679e+09,Winning the toss against mighty Finch is not h...,0
2,Cricket,xj7jtr,ip6ttwo,Adept-Variety1761,100,1.663679e+09,Rohit has aged 10 years more after becoming ca...,0
3,Cricket,xj7jtr,ip6v3ux,Signal_Discipline_36,78,1.663680e+09,No disrespect to Umesh bhau ( bro) but he is n...,0
4,Cricket,xj7jtr,ip6x6x9,crazycricfan,78,1.663681e+09,Finch's first video after being a youtuber pos...,0

In [92]:
! pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: vaderSentiment in /usr/local/lib/python3.7/dist-packages (3.3.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from vaderSentiment) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->vaderSentiment) (2022.9.24)

In [93]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [94]:
final_data['Negative'] = final_data['Body'].apply(lambda x : analyzer.polarity_scores(x)['neg'])
final_data['Neutral'] = final_data['Body'].apply(lambda x : analyzer.polarity_scores(x)['neu'])
final_data['Positive'] = final_data['Body'].apply(lambda x : analyzer.polarity_scores(x)['pos'])
final_data['Compound'] = final_data['Body'].apply(lambda x : analyzer.polarity_scores(x)['compound'])

In [95]:
final_data.head()

,Subreddit,Post ID,Comment ID,Author,Score,Created,Body,Label,Negative,Neutral,Positive,Compound
0,Cricket,xj7jtr,ip7c3rj,Bada_Vadapao,151,1.663687e+09,Pandu should score 71 and give a tribute to Ko...,0,0.0,1.000,0.000,0.0000
1,Cricket,xj7jtr,ip6t6sk,KuttahaiTum,103,1.663679e+09,Winning the toss against mighty Finch is not h...,0,0.0,0.702,0.298,0.5267
2,Cricket,xj7jtr,ip6ttwo,Adept-Variety1761,100,1.663679e+09,Rohit has aged 10 years more after becoming ca...,0,0.0,1.000,0.000,0.0000
3,Cricket,xj7jtr,ip6v3ux,Signal_Discipline_36,78,1.663680e+09,No disrespect to Umesh bhau ( bro) but he is n...,0,0.0,0.864,0.136,0.8001
4,Cricket,xj7jtr,ip6x6x9,crazycricfan,78,1.663681e+09,Finch's first video after being a youtuber pos...,0,0.0,0.651,0.349,0.8176

In [96]:
final_data[['Negative', 'Neutral', 'Positive', 'Compound']].corr()

          Negative   Neutral  Positive  Compound
Negative  1.000000 -0.576900 -0.168441 -0.623431
Neutral  -0.576900  1.000000 -0.707969 -0.096563
Positive -0.168441 -0.707969  1.000000  0.655569
Compound -0.623431 -0.096563  0.655569  1.000000

In [97]:
x = final_data.iloc[:, -4:]
y = final_data.iloc[:, -5]

In [98]:
x.head()

   Negative  Neutral  Positive  Compound
0       0.0    1.000     0.000    0.0000
1       0.0    0.702     0.298    0.5267
2       0.0    1.000     0.000    0.0000
3       0.0    0.864     0.136    0.8001
4       0.0    0.651     0.349    0.8176

In [99]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Label, dtype: int64

In [100]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify = y, test_size = 0.30, random_state = 42)

In [101]:
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn import linear_model

### Random Forest

In [102]:
rfc = RandomForestClassifier()

In [103]:
rfc.fit(x_train, y_train)

RandomForestClassifier()

In [104]:
print('Accuracy: %.3f' % rfc.score(x_test, y_test))

Accuracy: 0.552

In [105]:
rf_pred = rfc.predict(x_test)

In [106]:
print(classification_report(y_test, rf_pred))

              precision    recall  f1-score   support

           0       0.58      0.82      0.68     10041
           1       0.44      0.20      0.27      7480

    accuracy                           0.55     17521
   macro avg       0.51      0.51      0.47     17521
weighted avg       0.52      0.55      0.50     17521

### Decision Tree model

In [107]:
clf = DecisionTreeClassifier()

In [108]:
clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [109]:
print('Accuracy: %.3f' % clf.score(x_test, y_test))

Accuracy: 0.552

In [110]:
df_pred = clf.predict(x_test)

In [111]:
print(classification_report(y_test, df_pred))

              precision    recall  f1-score   support

           0       0.58      0.82      0.68     10041
           1       0.44      0.19      0.27      7480

    accuracy                           0.55     17521
   macro avg       0.51      0.51      0.47     17521
weighted avg       0.52      0.55      0.50     17521



### Logistic Regression

In [112]:
lm = linear_model.LogisticRegression()

In [113]:
lm.fit(x_train, y_train)

LogisticRegression()

In [114]:
print('Accuracy: %.3f' % lm.score(x_test, y_test))

Accuracy: 0.573

In [115]:
y_pred= lm.predict(x_test)

In [116]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.57      1.00      0.73     10041
           1       0.00      0.00      0.00      7480

    accuracy                           0.57     17521
   macro avg       0.29      0.50      0.36     17521
weighted avg       0.33      0.57      0.42     17521

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

### Support Vector Machine

In [117]:
svm_clf = svm.SVC()

In [118]:
svm_clf.fit(x_train, y_train)

SVC()

In [119]:
print('Accuracy: %.3f' % svm_clf.score(x_test, y_test))

Accuracy: 0.573

In [120]:
svm_pred = svm_clf.predict(x_test)

In [121]:
print(classification_report(y_test, svm_pred))

              precision    recall  f1-score   support

           0       0.57      1.00      0.73     10041
           1       0.00      0.00      0.00      7480

    accuracy                           0.57     17521
   macro avg       0.29      0.50      0.36     17521
weighted avg       0.33      0.57      0.42     17521

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))